/* This is the styling for the Navigation Bar */
.navbar-inverse {
    background-color: #2A2A2A;
    border-color: #080808;
}

.navbar {
    position: relative;
    min-height: 70px;
    margin-bottom: 0;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-top-width: 1px;
        border-right-color: transparent;
        border-right-width: 1px;
        border-bottom-color: transparent;
        border-bottom-width: 1px;
        border-left-color: transparent;
        border-left-width: 1px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.navbar-inverse .navbar-brand {
    color: #fff;
    font-size: 20px;

}
.navbar-inverse .navbar-brand > a{
    color: #fff;
}
.navbar-inverse .navbar-brand > p{
    color: #f58635;
    font-size: 30px;
}

.navbar-brand {
    float: left;
    height: 70px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.container-fluid > .navbar-header{
	margin-left: 100px;
	margin-right: 300px;
}


.navbar-nav > li > a {
    padding: 20px;
    margin-top: 3px;
    font-size: 16px;
    /*border: 1px solid #fff;*/
}

.navbar-inverse .navbar-nav > .active > a {
	color: #fff;
	background-color: #2A2A2A;
}
.navbar-inverse .navbar-nav > .active > a:hover {
	color: #f58635;
	background-color: #2A2A2A;
}
.navbar-inverse .navbar-nav > li > a:hover {
	color: #f58635;
	border: 1px solid #f58635;
}

hr.new5 {
  border: 3px solid #F18837;
  margin-top: 0;
}

.carousel {
	margin-top: -20px;
}
.carousel-inner > .item > img {
	display: block;
	max-width: 100%;
	height: 450px;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #F18837;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: #000;
    border-radius: 15px;
    opacity: .7;
    font-weight: bold;
    font-size: 20px;
}

.inner-caption {
	width: 100%;
	background-color: transparent;
	height: auto;
	color: #fff;
}

.focus{
	background-color: #424242;
	height: 300px;
	margin-top: -20px;
	/*text-align: center;*/
	/*background-image: linear-gradient(to right, rgba(60,60,60,0), rgba(60,60,60,1));*/
}
.focus h1{
	color: #fff;
	font-size: 70px;
	font-weight: 700;
}
.focus h2{
	color: #f58635;
	font-size: 100px;
	font-weight: 900;
	margin-top: -35px;
}
.focus h4{
	color: #fff;
	font-size: 70px;
	font-weight: 700;
}
.focus h5{
	color: #f58635;
	font-size: 40px;
	font-weight: 900;
	margin-top: 0;
}

.consult{
	background-color: #f58635;
	margin-top: 10px;
	margin-right: 10px;
	height: 280px;
	color: #000
}

.consult h3{
	text-align: center;
	font-weight: bold;
	background-image: linear-gradient(#000, #000);
  background-position: bottom center; /*Adjust the background-position to move the line*/
  background-size: 70% 2px; /*Adjust the background size to control length and height*/
  background-repeat: no-repeat;
  padding-bottom: 5px; /* this can also control the position */
}

.consult input[type=name], .consult input[type=text], .consult input[type=email], select {
	border-radius: 15px;
	margin-top: 5px;
	margin-left: 25px;
	margin-right: 25px;
}

.consult button {
	background-color: transparent;
	color: #000;
	border: 1px #424242 solid;
	font-size: 20px;
	font-weight: bold;
	float: right
}

.consult button:hover{
	background-color: #424242;
	color: #fff;
	border: 1px #424242 solid;
}

.heading{
	text-align: center;
	font-weight: bold;
}

.services{
	margin: 50px;
	text-align: center;
	font-size: 16px;
}

.services a > img:hover{
	opacity: .6;
}
.services h2 > a{
	text-decoration: none;
	color: #f58635;
	font-weight: bold;
	font-size: 20px;
}

.services h2 > a:hover {
	text-decoration: none;
	color: #424242;
	font-weight: bold;
	font-size: 20px;
}

.services p > a{
	background-color: #f58635;
	border: 1px solid #f58635;
	color: #fff;
}

.services p > a:hover {
	background-color: #424242;
	border: 1px solid #424242;
	color: #f58635;
}

.session{
	margin-top: 30px;
	text-align: center;
}

.session img:hover{
	opacity: .6;
}

.session a{
	text-decoration: none;
	color: #f58635;
	font-weight: bold;
	font-size: 20px;
}

.session a:hover {
	text-decoration: none;
	color: #424242;
	font-weight: bold;
	font-size: 20px;
}

/*The Book Section*/
.book .col-author {
	background-color: #f1f1f1f1;
	border-radius: 5px;
}

.book a{
	background-color: #f58635;
	border: 1px solid #f58635;
	color: #000;
	text-align: center;

}

/*.book .book-below{
	margin-left: 30%;
	margin-bottom: 5px;
}*/

.book img {

}

 /* Slideshow container */

.slideshow-container {
  position: relative;
  background: #fff;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #fff;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;} 

/*our partners*/
.partners-hold{
	margin: 20px;
}
.partners{
	height: 120px;
	background-color: #cccccc;
	border-radius: 70px;
	margin: 20px;
	text-align: center;
}

/*App Download*/

.btn-store {
  color: #777777;
  min-width: 254px;
  padding: 12px 20px !important;
  border-color: #dddddd !important;
}

.btn-store:focus, 
.btn-store:hover {
  color: #000 !important;
  background-color: #f58635;
  border-color: #000 !important;
}

.btn-store .btn-label, 
.btn-store .btn-caption {
  display: block;
  text-align: left;
  line-height: 1;
}

.btn-store .btn-caption {
  font-size: 24px;
}

.footer{
	background-color: #000;
	height: 350px;
	color: #fff;
}
.footer h3 {
	margin-left:20px;
}

.footer-contact p{
	padding-left: 20px;
	font-size: 16px;
}

.footer-news {
	margin-top: 20px;
	margin-left: 10px;
}
.footer-news h2{
	font-size: 16px;
	margin-top: 0;
}
.footer-news a {
	color: #fff;
	text-decoration: none;
}

.footer-news a:hover {
	color: #f58635;
}

.footer-links ul > li > a{
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	padding: 5px;
}

.footer-links ul > li > a:hover {
	text-decoration: none;
	color: #f58635;
}

.footer-subscribe input[type=text] {
	width: 250px;
	margin-top: 10px;
	height: 35px;
	color: #000;
}

.footer-subscribe input[type=email] {
	width: 250px;
	margin-top: 10px;
	height: 35px;
	color: #000;
}
.footer-subscribe button {
	margin-top: 10px;
	width: 250px;
}
.bottom{
	background-color: #000;
	color: #fff;
	text-align: center;
	margin-top: 0;
	height: 50px;
}

.bottom a {
	text-decoration: none;
	color: #f58635;
}

.bottom a:hover {
	color: #cccccc;
}



@media (min-width: 200px) { 
.container-fluid > .navbar-header{
	margin-left: -13px;
	margin-right: 0;
}
	
}

@media (min-width: 350px) { 
.container-fluid > .navbar-header{
	margin-left: -20px;
	margin-right: 0;
}
	
}

@media (min-width: 576px) { 
.container-fluid > .navbar-header{
	margin-left: 0;
	margin-right: 0;
}
	
}



@media (min-width: 768px) {
	.container-fluid > .navbar-header{
	margin-left: 250px;
	margin-right: 0;
	}	
}



@media (min-width: 992px) { 
.container-fluid > .navbar-header{
	margin-left: 30px;
	margin-right: 50px;
}
	
}

@media (min-width: 1200px) {	
	.container-fluid > .navbar-header{
	margin-left: 100px;
	margin-right: 100px;
}
}