/* This is the styling for the Navigation Bar */
.navbar-inverse {
    background-color: #2A2A2A;
    border-color: #080808;
}

.navbar {
    position: relative;
    min-height: 70px;
    margin-bottom: 0;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-top-width: 1px;
        border-right-color: transparent;
        border-right-width: 1px;
        border-bottom-color: transparent;
        border-bottom-width: 1px;
        border-left-color: transparent;
        border-left-width: 1px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.navbar-inverse .navbar-brand {
    color: #fff;
    font-size: 20px;

}
.navbar-inverse .navbar-brand > a{
    color: #fff;
}
.navbar-inverse .navbar-brand > p{
    color: #f58635;
    font-size: 30px;
}

.navbar-brand {
    float: left;
    height: 70px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.container-fluid > .navbar-header{
	margin-left: 100px;
	margin-right: 300px;
}


.navbar-nav > li > a {
    padding: 10px;
    border-right: 2px solid #fff;
    margin-top: 15px;
    font-size: 16px;
}

.navbar-inverse .navbar-nav > .active > a {
	color: #fff;
	background-color: #2A2A2A;
}
.navbar-inverse .navbar-nav > .active > a:hover {
	color: #f58635;
	background-color: #2A2A2A;
}
.navbar-inverse .navbar-nav > li > a:hover {
	color: #f58635;
}

hr.new5 {
  border: 5px solid #F18837;
  margin-top: 0;
}

.focus{
	background-color: #424242;
	height: 300px;
	margin-top: -20px;
	/*text-align: center;*/
	/*background-image: linear-gradient(to right, rgba(60,60,60,0), rgba(60,60,60,1));*/
}
.focus h1{
	color: #fff;
	font-size: 70px;
	font-weight: 700;
}
.focus h2{
	color: #f58635;
	font-size: 100px;
	font-weight: 900;
	margin-top: -35px;
}

.consult{
	background-color: #f58635;
	margin-top: 10px;
	margin-right: 10px;
	height: 280px;
	color: #000
}

.consult h3{
	text-align: center;
	font-weight: bold;
	background-image: linear-gradient(#000, #000);
  background-position: bottom center; /*Adjust the background-position to move the line*/
  background-size: 70% 2px; /*Adjust the background size to control length and height*/
  background-repeat: no-repeat;
  padding-bottom: 5px; /* this can also control the position */
}

.column1{
	margin: 50px;
}

.footer{
	background-color: #000;
	height: 300px;
}

.bottom{
	color: #fff;
	text-align: center;
}
@media (min-width: 200px) { 
.container-fluid > .navbar-header{
	margin-left: -13px;
	margin-right: 0;
}
	
}

@media (min-width: 350px) { 
.container-fluid > .navbar-header{
	margin-left: -20px;
	margin-right: 0;
}
	
}

@media (min-width: 576px) { 
.container-fluid > .navbar-header{
	margin-left: 0;
	margin-right: 0;
}
	
}



@media (min-width: 768px) {
	.container-fluid > .navbar-header{
	margin-left: 250px;
	margin-right: 0;
	}	
}



@media (min-width: 992px) { 
.container-fluid > .navbar-header{
	margin-left: 30px;
	margin-right: 50px;
}
	
}

@media (min-width: 1200px) {	
	.container-fluid > .navbar-header{
	margin-left: 100px;
	margin-right: 100px;
}
}